<!-- Site title-->
<title>{{ .Title }}</title>

<!-- Meta tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta http-equiv="Content-Language" content="en{{ range $.Site.Home.AllTranslations }},{{ .Language.Lang }}{{ end }}">
{{ partial "meta/site-twittercard.html" . }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

<!-- Posts Meta tags -->
{{if .PublishDate}}
    <meta name='date' content='{{ .PublishDate.Format "2006/01/02" }}'>
{{ end }}
{{if .Keywords}}
    <meta name="keywords" content="{{ range $tab := .Keywords }}{{$tab}}, {{ end }}"/>
{{ end }}

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Styles -->
{{ $styles := resources.Get "css/main.css" }}
{{ $styles = $styles | resources.PostCSS (dict "inlineImports" true) }}
{{ $styles = $styles | minify }}
<link href="{{ $styles.Permalink }}" rel="stylesheet" />
<link href="/fonts/rocky-font.css" rel="stylesheet" type="text/css" />

<!-- Favicon -->
<link rel="icon" href="/img/favicon.ico"/>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer=""></script>

<!-- Script for language select -->
{{ partial "head/languages.html" . }}
