{{ define "main" }}

  <div class="frontmatter mb-8 text-center">
    <h1 class="mb-2">{{ .Title }}</h1>
    <span class="italic">{{ .PublishDate.Format "January 2, 2006" }}</span>
  </div>

  <hr class="mx-auto" />

  <div class="prose mx-auto dark-mode:prose-dark dark:text-gray-300">
    {{ .Content }}
  </div>
  </br>
  <div class="prose mx-auto dark-mode:prose-dark dark:text-gray-300">
    <h4>{{ i18n "posts.post-info" . }}</h4>
    {{ i18n "posts.publish-date" . }} {{ .PublishDate.Format "January 2, 2006" }}</br>
    {{ i18n "posts.last-mod" . }} {{ .Lastmod.Format "January 2, 2006" }}</br>
    {{ i18n "posts.reading-time" . }} {{ .ReadingTime }} minutes</br>
    {{ i18n "posts.keywords" . }} {{ range $tab := .Keywords }}{{$tab}}, {{ end }}</br>
  </div>

{{ end }}
