{{ define "main" }}

  <div class="frontmatter mb-8 text-center">
    <h1 class="mb-2">{{ .Title }}</h1>
    <span class="italic">{{ .PublishDate.Format "January 2, 2006" }}</span>
  </div>

  <hr class="mx-auto" />

  <div class="prose mx-auto dark-mode:prose-dark dark:text-gray-300">
    {{ .Content }}
  </div> 

  </br>
  
  <!-- Disqus Comments Box -->
  <div id="disqus_thread"></div>
  <script>
      (function() { 
      var d = document, s = d.createElement('script');
      s.src = 'https://rockylinux.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <!-- Disqus Comments Box -->
{{ end }}
