@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
    fill: black;
}

@media (prefers-color-scheme: dark) {
    .logo-text {
        fill: white;
    }
}

/* Languaje menu */
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.languaje {
    padding: 5px;
}