{{ define "main" }}
    <div class="bg-gray-100 dark:bg-gray-800 relative z-0" dir="auto">
        <div class="max-w-4xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <svg class="h-52 text-green-500 w-full items-center justify-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z" clip-rule="evenodd" />
            </svg>
            <h2 class="text-black dark:text-white">
                <span class="block text-5xl sm:text-9xl font-extrabold">404</span>
                <span class="block text-3xl sm:text-6xl">{{ i18n "errors.404.title" . }}</span>
            </h2>
            <p class="mt-7 text-2xl leading-6 text-black dark:text-white">{{ i18n "errors.404.explanation" . }}</p>
            <a href="/" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-green-500 bg-white dark:bg-gray-900 hover:bg-green-50 dark:hover:bg-gray-700 transition sm:w-auto">
                {{ i18n "links.go-home" . }}
            </a>
        </div>
    </div>
{{ end }}
