<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        {{ partial "head/head.html" . }}
    </head>
    <body>
    <div class="relative bg-gray-50 dark:bg-gray-900 overflow-hidden" dir="auto">
        {{ partial "navbar.html" . }}
        <div class="px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
            <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
                <div class="flex flex-col mb-16 text-center sm:mb-0">
                    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white sm:text-6xl md:mx-auto">
                            {{ i18n "landing.p1.heading" . }}
                        </h2>
                        <p class="text-base text-gray-500 dark:text-gray-300 md:text-lg">
                            {{ i18n "landing.p1.content" . }}
                        </p>
                    </div>
                    <div>
                        <a
                                href="{{ .Site.Params.social.slackurl | absURL }}"
                                class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide rounded-md shadow-md text-white dark:text-gray-900 bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition duration-150 ease-in-out"
                        >
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 -3 31 31" aria-hidden="true"><path d="M8.843 12.651a2.521 2.521 0 00-2.521 2.521v6.306a2.521 2.521 0 005.042 0v-6.306a2.523 2.523 0 00-2.521-2.521zM.019 15.172a2.524 2.524 0 005.046 0v-2.523H2.542a2.524 2.524 0 00-2.523 2.523zM8.846-.001h-.003a2.524 2.524 0 000 5.046h2.521V2.517A2.519 2.519 0 008.846-.001zM2.525 11.37h6.318a2.524 2.524 0 000-5.046H2.525a2.524 2.524 0 000 5.046zM21.457 6.323a2.518 2.518 0 00-2.518 2.518v2.528h2.521a2.524 2.524 0 000-5.046h-.003zM12.641 2.522v6.325a2.521 2.521 0 005.042 0V2.522a2.521 2.521 0 00-5.042 0zM17.682 21.476a2.521 2.521 0 00-2.521-2.521H12.64v2.523a2.521 2.521 0 005.042-.002zM21.479 12.649h-6.318a2.524 2.524 0 000 5.046h6.318a2.524 2.524 0 000-5.046z"/></svg> {{ i18n "links.join-the-discussion" . }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative bg-gray-50 dark:bg-gray-900 overflow-hidden" dir="auto">
        <div class="px-4 pb-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-4 lg:px-4 lg:py-4">
            <div class="rounded shadow p-7 sm:p-16 bg-gray-100 dark:bg-gray-800">
                <div class="flex flex-col lg:flex-row">
                    <div class="mb-6 lg:mb-0 lg:w-1/2 lg:pr-5">
                        <h2 class="font-sans text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl sm:leading-none">
                            {{ i18n "landing.p2.heading" . }}
                        </h2>
                    </div>
                    <div class="lg:w-1/2">
                        <p class="text-base text-gray-600 dark:text-gray-300">
                            {{ i18n "landing.p2.content" . }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50 dark:bg-gray-900" dir="auto">
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
            <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
                <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl md:mx-auto text-center">
                        {{ i18n "faq.title" . }}
                    </h2>
                </div>
            </div>
            <div class="max-w-screen-xl sm:mx-auto">
                <div class="mt-6 mb-2">
                    <dl class="space-y-8 divide-y divide-gray-300 dark:divide-white">
                        {{ range $current := .Site.Params.faqs.questions }}
                        <div class="pt-6 md:grid md:grid-cols-12 md:gap-8">
                            <dt class="text-base font-bold text-gray-900 dark:text-gray-200 md:col-span-5">
                                {{ i18n ( printf "faq.q.%s" $current) . }}
                            </dt>
                            <dd class="mt-2 md:mt-0 md:col-span-7">
                                <p class="text-base text-gray-600 dark:text-gray-300">
                                    {{ i18n ( printf "faq.a.%s" $current ) . }}
                                </p>
                            </dd>
                        </div>
                        {{ end }}
                    </dl>
                </div>
            </div>
        </div>
    </div>
        {{ partial "footer/footer.html" . }}
    </body>
</html>
